<div class="relative w-full flex overflow-x-auto">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 py-3">
                    ID
                </th>
                <th scope="col" class="px-4 py-3">
                    Name
                </th>
                <th scope="col" class="px-4 py-3">
                    Tips Commodities
                </th>
                <th scope="col" class="px-4 py-3">
                    Categories
                </th>
                <th scope="col" class="px-4 py-2">
                  Subscription Type
                </th>
        </thead>
        <tbody class="overflow-y-scroll max-h-100">
            <tr class="border-b dark:border-gray-700" *ngFor="let customer of customers">
                <td class="px-4 py-1"><a [routerLink]="['/customers', customer.id]">{{ customer.id }}</a></td>
                <td class="px-4 py-1">{{ customer.name }}</td>
                <td class="px-4 py-1">{{ customer.tips_commodities }}</td>
                <td class="px-4 py-1">{{ customer.categories }}</td>
                <td class="px-4 py-1">{{ customer.subscription_type }}</td>
            </tr>
        </tbody>
    </table>
</div>
