{% extends 'customers/commodity_list.html' %}

{% load crispy_forms_tags link_tags django_tables2 static %}

{% block title %}
    {% if object %}
        Edit commodity
    {% else %}
        Add commodity
    {% endif %}
{% endblock title %}

{% block page_title %}
    {% if object %}
        Edit commodity
    {% else %}
        Add commodity
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if object %}
        {% breadcrumb_entry text='Edit' url_name='customers:customer_commodity_update' pk=object.pk %}
    {% else %}
        {% breadcrumb_entry text='Add' url_name='customers:customer_commodity_add' pk=customer.pk %}
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="subscriptions-form">
    {% crispy form %}
    </div>
{% endblock %}
