{% extends 'customers/tipseriessubscription_list.html' %}

{% load crispy_forms_tags link_tags django_tables2 static %}

{% block title %}
    {% if object %}
        Edit tip series subscription
    {% else %}
        Add tip series subscription
    {% endif %}
{% endblock title %}

{% block page_title %}
    {% if object %}
        Edit tip series subscription
    {% else %}
        Add tip series subscription
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if object %}
        {% breadcrumb_entry text='Edit' url_name='customers:customer_tip_subscription_update' pk=object.pk %}
    {% else %}
        {% breadcrumb_entry text='Add' url_name='customers:customer_tip_subscription_create' pk=customer.pk %}
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="subscriptions-form">
    {% crispy form %}
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/tipseriessubscription-form.js" %}"></script>
{% endblock %}
