{% load tasks_filters gravatar %}

<li>
    <div class="action mod-{{ action.verb }}">
        <div class="chip">
            {{ action.action_object.email|gravatar }}
            {{ action.actor }}
        </div>

        {% with attempt=action.data.attempt %}
        <p class="action-text">Failed to contact <span class="badge">{{ attempt }}</span> time{{ attempt|pluralize }}</p>
        {% endwith %}

        <time class="action-time"
              datetime="{{ action.timestamp|date:"Y-m-d" }}">
            <span class="action-time-value">
                {{ action.timestamp|date:"h:i a D F j, Y" }}
            </span>
        </time>
    </div>
</li>
