<section *ngIf="message" class="bg-gray-50 p-1 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-2 lg:px-12 relative">

    <section>

    <div class="text-center">
        <h2 class="text-3xl text-gray-950 font-semibold">Type: {{ message.message_type_display}}</h2>
        <h4 class="text-3xl text-gray-950 font-semibold">Created: {{ message.created | date:'dd/MM/yyyy hh:mm a' }}</h4>
        <h3 class="text-3xl text-gray-950 font-semibold">Text: {{ message.text }} </h3>
    </div>

      <div class="flex flex-col h-[82vh]">
        <div class="flex flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-3 relative w-full">
            <div class="w-1/4">
                <form class="flex items-center">
                    <label for="simple-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input type="text" id="simple-search"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Search" required=""
                            (keyup)="filterData(filter.value)"
                            #filter
                            >
                    </div>
                </form>
            </div>

            <div class="w-1/4 flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                <div class="flex items-center space-x-3 w-full md:w-auto">
                <button type="button" class="flex items-center justify-center text-black bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                    </svg>
                    Add Recipients
                </button>
                </div>

            </div>
            <div class="w-1/2 flex items-center space-x-3 md:w-auto">

                <select name="" id=""
                    #selectedItem
                    (change)="filterSelectedOption(selectedItem.value)"
                    class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <option value="">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                        </svg>
                        All Statuses
                    </option>
                    <option *ngFor="let messageStatus of messageStatusChoices" [value]="messageStatus.value">{{messageStatus.label}}</option>

                </select>
            </div>
        </div>
        <div class="relative w-full flex overflow-x-auto">

            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 text-left w-10">
                            ID
                        </th>
                        <th scope="col" class="px-4 py-2 text-left w-20">
                          Recipient
                        </th>
                        <th scope="col" class="px-4 py-2 text-left w-60">
                          Sent At
                        </th>
                        <th scope="col" class="px-4 py-2 text-left w-30">
                          Status
                        </th>
                    </tr>
                </thead>
                <tbody class="overflow-y-scroll max-h-100">
                    <tr class="border-b dark:border-gray-700" *ngFor="let message of messages">
                        <td class="px-4 py-1 w-10 text-left"><a [routerLink]="['/messages', message.id]">{{ message.id }}</a></td>
                        <td class="px-4 py-1 w-20 text-left">{{ message.recipient_id }}</td>
                        <td class="px-4 py-1 w-60 text-left">{{ message.created | date:'dd/MM/yyyy hh:mm a' }}</td>
                        <td class="px-4 py-1 w-30 text-left">{{ message.delivery_status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="relative max-w-full w-full flex overflow-x-scroll justify-center items-center">
            <nav *ngIf="pageNumbers().length > 1" class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                    Showing Page
                    <span class="font-semibold text-gray-900 dark:text-white">{{ currentPage}}</span>
                    of
                    <span class="font-semibold text-gray-900 dark:text-white">{{ totalPages }}</span>
                </span>
                <ul class="inline-flex items-stretch -space-x-px">
                    <li (click)="fetchPreviousPage()">
                        <a class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Previous</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <li
                    *ngFor="let pageNumber of pageNumbers();"
                    >
                        <a
                            *ngIf="pageNumber == '...'"
                            class="flex items-center justify-center text-sm cursor-pointer py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        >{{ pageNumber }}</a>
                        <a
                            *ngIf="pageNumber != '...'"
                            class="flex items-center justify-center text-sm cursor-pointer py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            [class.bg-white]="pageNumber == currentPage.toString()"
                            [class.z-10]="pageNumber == currentPage.toString()"
                            [class.text-black]="pageNumber == currentPage.toString()"
                            (click)="changePage(pageNumber)"
                        >{{ pageNumber }}</a>
                    </li>
                    <!-- <li>
                        <a href="#" aria-current="page" class="flex items-center justify-center text-sm z-10 py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                    </li> -->
                    <!-- <li>
                        <a href="#" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
                    </li> -->
                    <li (click)="fetchNextPage()">
                        <a class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Next</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
    </div>
    </section>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </div>
  </section>
